ul {
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;

}

li {
  display: inline;
  padding: 2%;
}

.nav-link {
  text-decoration: none;
  color: orange;
}

.nav-link:hover:not(.active) {

}

.active {

}
